{% extends 'base.html.twig' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="about-container">
        <div class="about-form">
            <h1>A propos</h1>
            Je suis Gabin Legrand, étudiant en informatique de Vannes. <br><br>
            Ce projet à été fait pour un projet noté visant à me familiariser avec les technologies de l'entreprise. <br><br>
            Ce site permet de savoir à l'avance, si, une pizza dans un restaurant précis, est bonne ou non grace à l'avis des utilisateurs. <br><br>
            Ce projet reste tout de même un projet me permettant de me familiariser avec les technologies de l'entreprise et est loins d'être un vrai Blog.
        </div>
    </div> 
</body>
</html>
{% endblock %}