<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>Chèvre Miel Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <p class="text-capitalize mb-0">Chèvre Miel</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">A propos</a>
                    </li>
                </ul>
                {% block navBar %}
                {% endblock %}

                {% if app.session.get('connecte') %}
                <div class="dropdown">
                    <button class="btn btn-orange-reverse dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {{app.session.get('surnom')}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/create_blog">Écrire un blog</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/disconnect">Se déconnecter</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/delete_account">Supprimer le compte</a></li>
                        
                        
                    </ul>
                </div>
                {% else %}
               <div class="dropdown">
                    <button class="btn btn-orange-reverse dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Compte
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/user_connect">Se connecter</a></li>
                        <li><a class="dropdown-item" href="/user_create">S'inscrire</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="bg-light mt-4 py-3">
        <div class="container text-center">
            <p>&copy; 2024 Chèvre Miel Blog. Tout droits réservés.</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>