body {
    background-color: #FFF5E6; /* Light orange background */
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.register-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.red-text{
    color: red;
}