.btn-orange {
    color: #FFA500;
    border-color: #FFA500;
}
.btn-orange:hover {
    color: white;
    background-color: #FFA500;
    border-color: #FFA500;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}
.text-orange {
    color: #FFA500;
}

body{
    background-image: url("../img/fond_pizza.png");
    background-size: 400px;
}

.btn-orange-reverse {
    background-color: #FFA500; 
    border-color: #FFA500; 
    color: white; 
}

.btn-orange-reverse:hover {
    background-color: #FF8C00; 
    border-color: #FF8C00;
    color: white;
}

.padding-t-b {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin: 50px
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.about-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.img-articles{
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    max-width: 600px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.height-fix{
    height: 80vh;
}