.btn-orange {
    color: #FFA500;
    border-color: #FFA500;
}
.btn-orange:hover {
    color: white;
    background-color: #FFA500;
    border-color: #FFA500;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}
.text-orange {
    color: #FFA500;
}

body{
    background-image: url("../img/fond_pizza.png");
    background-size: 400px;
}

.btn-orange-reverse {
    background-color: #FFA500; 
    border-color: #FFA500; 
    color: white; 
}

.btn-orange-reverse:hover {
    background-color: #FF8C00; 
    border-color: #FF8C00;
    color: white;
}

.padding-t-b {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin: 50px
}

.list-group-item {
    display: flex; /* Ensure it's a flex container */
    justify-content: space-between; /* Space out the checkbox and the count */
    align-items: center; /* Center items vertically */
}

